<div class="d-flex gap-2 mb-4">
  <input
    type="text"
    placeholder="Pokemon"
    class="form-control"
    [(ngModel)]="pokemon"
  />

  <select class="form-control" [(ngModel)]="nature">
    <option value="">Sélectionner une nature</option>
    @for (nature of natures; track $index) {
      <option [value]="nature.nomNature">{{ nature.nomNature }}</option>
    }
  </select>

  <select class="form-control" [(ngModel)]="dresseur">
    <option value="">Sélectionner un dresseur</option>
    @for (dresseur of dresseurs; track $index) {
      <option [value]="dresseur.numDresseur">
        {{ dresseur.numDresseur }} {{ dresseur.nomDresseur }}
      </option>
    }
  </select>

  <select class="form-control" [(ngModel)]="pokeball">
    <option value="">Sélectionner une PokéBall</option>
    @for (pokeball of pokeballs; track $index) {
      <option [value]="pokeball.nomPokeball">{{ pokeball.nomPokeball }}</option>
    }
  </select>
  <button class="btn btn-primary" (click)="onSearch()">Rechercher</button>
  <button class="btn btn-danger" (click)="onReset()">Annuler</button>
</div>
