/* Style de base pour btn-shiny */
.btn-shiny {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;  
    display: inline-block; /* Pour garantir que les boutons sont en ligne */
    transition: background 0.3s ease;
}

.btn-shiny:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* Styles spécifiques pour chaque type de boîte */
.btn-shiny-favoris { background-color: #0f52ba; }
.btn-shiny-strats { background-color: #87ceeb; }
.btn-shiny-strats2 { background-color: #dda0dd; }
.btn-shiny-alola { background-color: #e3c035; }
.btn-shiny-galar { background-color: #FF0066; }
.btn-shiny-paldea { background-color: #800080; }
.btn-shiny-legendaries { background-color: #5A9190; }
.btn-shiny-others { background-color: #A9C5D3; }
.btn-shiny-arceus { background-color: rgb(233, 232, 232); color: black; }
