<div class="container-fluid mt-4">
    <h2 class="d-flex flex-wrap justify-content-center mb-4">Statistiques Pokedex</h2>
    
    <div class="d-flex flex-wrap justify-content-center mb-4 gap-2">
        <app-stat-switcher
            [stats]="stats"
            (categorySelected)="onCategorySelected($event)"
            (categoryChanged)="onCategoryChanged($event)">
        </app-stat-switcher>
    </div>

    @if (categorySelected === 1) {
        <div class="d-flex flex-wrap justify-content-center mb-4 gap-4">
            <div class="col-lg-4 col-md-5 mb-3 text-center">
                <div class="table-responsive mx-auto">
                    <h3 class="mb-3 text-center" style="color: black;">{{ categories[0].title | uppercase }}</h3>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-primary">
                            <tr>
                                @for (column of categories[0].columns; track $index) {
                                    <th style="background-color: #008080; color: white;">{{ column.header | uppercase }}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (stat of stats[categories[0].dataKey]; track $index) {
                                <tr>
                                    @for (column of categories[0].columns; track $index) {
                                        <td style="background-color: #e5f2f2;">{{ stat[column.property] }}</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 mb-3 text-center">
                <div class="table-responsive mx-auto">
                    <h3 class="mb-3 text-center" style=" color: black;">{{ categories[0].title1 | uppercase }}</h3>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-primary">
                            <tr>
                                @for (column of categories[0].columns; track $index) {
                                    <th style="background-color: #008080; color: white;">{{ column.header | uppercase }}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (stat of stats[categories[0].dataKey1]; track $index) {
                                @if (stat.nomDresseur === 'Event') {
                                    <tr>
                                        <td colspan="2" style="background-color: #e5f2f2; text-align: center;">{{ stat.nomDresseur }}</td>
                                        <td style="background-color: #e5f2f2;">{{ stat.nbPokemon }}</td>
                                    </tr>
                                } @else {
                                    <tr>
                                        @for (column of categories[0].columns; track $index) {
                                            <td style="background-color: #e5f2f2; text-align: center;">{{ stat[column.property] }}</td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    
    @if (categorySelected === 2) {
        <div class="d-flex flex-wrap justify-content-center mb-4 gap-4">
            <div class="col-lg-4 col-md-5 mb-3 text-center">
                <div class="table-responsive mx-auto">
                    <h3 class="mb-3 text-center" style=" color: black;">{{ categories[1].title | uppercase }}</h3>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-primary">
                            <tr>
                                @for (column of categories[1].columns; track $index) {
                                    <th style="background-color: #008080; color: white;">{{ column.header | uppercase }}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (stat of stats[categories[1].dataKey]; track $index) {
                                <tr>
                                    @for (column of categories[1].columns; track $index) {
                                        <td style="background-color: #e5f2f2;">{{ stat[column.property] }}</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- Graphique des Pokéballs -->
        <div class="d-flex flex-wrap justify-content-center mb-4 gap-4">
            <div class="col-lg-6 col-md-12 mb-3 text-center">
                @if (categories[1].hasGraph) {
                    <app-graph
                        [chartData]="chartData[categories[1].dataKey]"
                        [chartLabels]="chartLabels[categories[1].dataKey]"
                        [chartColors]="chartColors[categories[1].dataKey]"
                        [chartTitle]="categories[1].chartTitle | uppercase">
                    </app-graph>
                }
            </div>
        </div>
    }
    
    @if (categorySelected === 4) {
        <!-- Section pour les natures -->
        <div class="d-flex flex-wrap justify-content-center mb-4 gap-4">
            <div class="col-lg-4 col-md-5 mb-3 text-center">
                <div class="table-responsive mx-auto">
                    <h3 class="mb-3 text-center" style=" color: black;">{{ categories[2].title | uppercase }}</h3>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-primary">
                            <tr>
                                @for (column of categories[2].columns; track $index) {
                                    <th style="background-color: #008080; color: white;">{{ column.header | uppercase }}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (stat of stats[categories[2].dataKey]; track $index) {
                                <tr>
                                    @for (column of categories[2].columns; track $index) {
                                        <td style="background-color: #e5f2f2;">{{ stat[column.property] }}</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center mb-4 gap-4">
            <div class="col-lg-6 col-md-12 mb-3 text-center">
                @if (categories[2].hasGraph) {
                    <app-graph
                        [chartData]="chartData[categories[2].dataKey]"
                        [chartLabels]="chartLabels[categories[2].dataKey]"
                        [chartColors]="chartColors[categories[2].dataKey]"
                        [chartTitle]="categories[2].chartTitle | uppercase"
                        [chartType]="'bar'">
                    </app-graph>
                }
            </div>
        </div>
    }
    
    @if (categorySelected === 7) {
        <div class="d-flex flex-wrap justify-content-center mb-4 gap-4">
            <div class="col-lg-8 col-md-8 mb-3 text-center">
                <div class="table-responsive mx-auto">
                    <h3 class="mb-3 text-center" style=" color: black;">{{ categories[3].title | uppercase }}</h3>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-primary">
                            <tr>
                                @for (column of categories[3].columns; track $index) {
                                    <th style="background-color: #008080; color: white;">{{ column.header | uppercase }}</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @for (stat of stats[categories[3].dataKey]; track $index) {
                                <tr>
                                    @for (column of categories[3].columns; track $index) {
                                        <td style="background-color: #e5f2f2;">
                                            @if (column.property === 'total') {
                                                {{ stat.nbMales + stat.nbFemelles + stat.nbAssexues }}
                                            } @else {
                                                {{ stat[column.property] }}
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                            <!-- Affichage des totaux à la fin du tableau -->
                            <tr>
                                <td style="background-color: #008080; color: white; font-weight: bold;">Totaux</td>
                                <td style="background-color: #008080; color: white; font-weight: bold;">
                                  {{ stats.totauxParColonne?.males || 0 }}
                                </td>
                                <td style="background-color: #008080; color: white; font-weight: bold;">
                                  {{ stats.totauxParColonne?.femelles || 0 }}
                                </td>
                                <td style="background-color: #008080; color: white; font-weight: bold;">
                                  {{ stats.totauxParColonne?.assexues || 0 }}
                                </td>
                                <td style="background-color: #008080; color: white; font-weight: bold;">
                                  {{ (stats.totauxParColonne?.males || 0) + (stats.totauxParColonne?.femelles || 0) + (stats.totauxParColonne?.assexues || 0) }}
                                </td>
                                <td style="background-color: #008080; color: white; font-weight: bold;">
                                  {{ stats.totauxParColonne?.level100 || 0 }}
                                </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- Graphiques des Boites -->
        <div class="d-flex flex-wrap justify-content-center mb-4 gap-4">
            <div class="col-lg-6 col-md-12 mb-3 text-center">
                @if (categories[3].hasGraph) {
                    <app-graph
                        [chartData]="chartData[categories[3].dataKey]"
                        [chartLabels]="chartLabels[categories[3].dataKey]"
                        [chartColors]="chartColors[categories[3].dataKey]"
                        [chartTitle]="categories[3].chartTitle | uppercase">
                    </app-graph>
                }
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center mb-4 gap-4">
            <div class="col-lg-6 col-md-12 mb-3 text-center">
                @if (categories[3].hasGraph) {
                    <app-graph
                        [chartData]="chartData['pokemonComparison']"
                        [chartLabels]="chartLabels['pokemonComparison']"
                        [chartColors]="chartColors['pokemonComparison']"
                        [chartTitle]="categories[3].chartComparaisonTitle | uppercase">
                    </app-graph>
                }
            </div>
        </div>
    }
    <app-button-top></app-button-top>
    
</div>
