<div class="admin-container">
    <div class="content-container">
      <h1 class="home">Tableau de bord</h1>
      <div class="d-flex cards-container flex-wrap justify-content-center">
        <div class="card">
            <h5 class="card-header">Pokedex</h5>
            <div class="card-body d-flex flex-column align-items-center text-white">
                <span>(Nb Pokemon)</span>
                <div>
                    <p>{{ nbPokemons }}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Pokémon Shiny</h5>
            <div class="card-body d-flex flex-column align-items-center text-white">
                <span>(Nb Shiny)</span>
                <div>
                    <p>{{ nbShiny }}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Dresseurs</h5>
            <div class="card-body d-flex flex-column align-items-center text-white">
                <span>(Nb Dresseurs)</span>
                <div>
                    <p>{{ nbDresseurs }}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Régions</h5>
            <div class="card-body d-flex flex-column align-items-center text-white">
                <span>(Nb Régions)</span>
                <div>
                    <p>{{ nbRegions }}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Attaques</h5>
            <div class="card-body d-flex flex-column align-items-center text-white">
                <span>(Nb Attaques)</span>
                <div>
                    <p>{{ nbAttaques }}</p>
                </div>
            </div>
        </div>
      </div>
  
      <h2 class="graph">Statistiques</h2>
      <div class="graph d-flex flex-wrap justify-content-center mt-2 gap-4">
          <!-- Premier graphique (Répartition des attaques par type) -->
          <div class="col-lg-6 col-md-6 text-center">
              <app-graph
                  [chartData]="chartDataAttaques"
                  [chartLabels]="chartLabelsAttaques"
                  [chartColors]="chartColorsAttaques"
                  [chartTitle]="'Répartition du nombre d\'attaques par type'"
                  [chartType]="'bar'">
              </app-graph>
          </div>
  
          <!-- Deuxième graphique (Répartition des Pokémon par région) -->
          <div class="col-lg-6 col-md-6 text-center">
              <app-graph
                  [chartData]="chartDataRegions"
                  [chartLabels]="chartLabelsRegions"
                  [chartColors]="chartColorsRegions"
                  [chartTitle]="'Répartition du nombre de Pokémons par région'"
                  [chartType]="'bar'">
              </app-graph>
          </div>
      </div>
    </div>
  </div>
  