<div class="admin-container">
  <h1 class="title">Liste des pokémons shiny - {{ getRegionName() | uppercase }}</h1>
  <div class="regions-container">
    <h2 class="title2">Régions :</h2>
      <div class="col-12 mb-2">
        <app-region-switcher
            [shiniesList]="shinies"
            (regionSelected)="onRegionSelected($event)">
        </app-region-switcher>
      </div>
  </div>

  @if (shiniesList.length > 0) {
    <div>
      <table class="table-wrapper">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="background-color: #008080; color: white;">N°</th>
              <th style="background-color: #008080; color: white;">Pokémon</th>
              <th style="background-color: #008080; color: white;">Type 1</th>
              <th style="background-color: #008080; color: white;">Type 2</th>
              <th style="background-color: #008080; color: white;">N°ID</th>
              <th style="background-color: #008080; color: white;">Nom du dresseur</th>
              <th style="background-color: #008080; color: white;">Attaques</th>
              <th style="background-color: #008080; color: white;">Nature</th>
              <th style="background-color: #008080; color: white;">Pokeball</th>
              <th style="background-color: #008080; color: white;">IV Manquant</th>
              <th style="background-color: #008080; color: white;">Sexe</th>
              <th style="background-color: #008080; color: white;">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (pokemon of shiniesList; track $index) {
              <tr>
                @if ($index === 0 || pokemon.numDex !== shiniesList[$index - 1].numDex) {
                  <td [attr.rowspan]="getRowspanForDex(shiniesList, pokemon)" style="background-color: #008080; color: white;">
                      {{ pokemon.numDex }}
                  </td>
                }

                <td [ngStyle]="{'color': columnTextColors[0]}">{{ pokemon.nomPokemon }}</td>

                <td [attr.colspan]="pokemon.type2 ? null : 2" [ngStyle]="{color: getTypeColor(pokemon.type1.nomType)}">
                  {{ pokemon.type1.nomType }}
                </td>

                @if (pokemon.type2) {
                  <td style="colspan: 2;" [ngStyle]="{color: getTypeColor(pokemon.type2.nomType)}">
                      {{ pokemon.type2.nomType }}
                  </td>
                }

                <td [ngStyle]="{'color': columnTextColors[1]}">{{ pokemon.dresseur.numDresseur }}</td>
                <td [ngStyle]="{'color': columnTextColors[1]}">{{ pokemon.dresseur.nomDresseur }}</td>

                <td>
                  @for (attaque of [pokemon.attaque1, pokemon.attaque2, pokemon.attaque3, pokemon.attaque4]; track $index) {
                    <div [ngStyle]="{ color: attaqueColors[attaque.nomAttaque] || '#000000' }">
                        {{ attaque.nomAttaque }}
                    </div>
                  }
                </td>

                <td [ngStyle]="{'color': columnTextColors[2]}">{{ pokemon.nature.nomNature }}</td>
                <td [ngStyle]="{'color': columnTextColors[3]}">{{ pokemon.pokeball.nomPokeball }}</td>
                <td [ngStyle]="{'color': columnTextColors[4]}">{{ pokemon.ivManquant }}</td>
                <td>
                  <span [ngStyle]="{ color: getSexeColor(pokemon.sexe.sexe), 'font-size': '1.7rem' }">
                      {{ getSexeSymbol(pokemon.sexe.sexe) }}
                  </span>
                </td>
                <td>
                  <button class="update"(click)="openPokemonModal(pokemon)">
                      <i class="fa-solid fa-pen-nib"></i>
                  </button>
                  <button class="delete" (click)="openDeleteModal(pokemon)">
                      <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </table>
    </div>
  }
  <button class="btn add" routerLink="/admin-shiny-form">Ajouter</button>
  @if (allShiniesList.length > 10) {
    <app-pagination
        [currentPage]="currentPage"
        [totalPages]="pageNumbers.length"
        (pageChange)="changePage($event)"
    ></app-pagination>
  }
  @if (isModalOpen) {
    <div>
      <div class="modal">
        <div class="modal-content">
          <h2>Modifier le Pokémon Shiny</h2>
          <form (ngSubmit)="updatePokemon()">
            <!-- Utilisation d'une grille CSS pour une disposition claire -->
            <div class="form-grid">
              <div>
                <label for="numDex">Numéro de Pokédex</label>
                <input type="text" id="numDex" [(ngModel)]="selectedShinyForEdit!.numDex" name="numDex" disabled>
              </div>
              <div>
                <label for="nomPokemon">Nom du Pokémon</label>
                <input type="text" id="nomPokemon" [(ngModel)]="selectedShinyForEdit!.nomPokemon" name="nomPokemon" disabled>
              </div>
              <div>
                <label for="type1">Type 1</label>
                <input type="text" id="type1" [(ngModel)]="selectedShinyForEdit!.type1.nomType" name="type1" disabled>
              </div>
              <div>
                <label for="type2">Type 2</label>
                <input type="text" id="type2" [ngModel]="selectedShinyForEdit?.type2?.nomType || 'Aucun'" name="type2" disabled>
              </div>
              <div>
                <label for="dresseur">Dresseur actuel</label>
                <input type="text" id="dresseurActuel" [value]="selectedShinyForEdit?.dresseur ? selectedShinyForEdit?.dresseur?.numDresseur + ' - ' + selectedShinyForEdit?.dresseur?.nomDresseur : 'Non défini'" disabled>
              </div>
              <div>
                <label for="dresseur">Modifier le dresseur</label>
                <select id="dresseur" [(ngModel)]="selectedShinyForEdit!.dresseur" name="dresseur" required>
                    @for (dresseur of dresseurs; track $index) {
                        <option [ngValue]="dresseur">{{ dresseur.numDresseur }} {{ dresseur.nomDresseur }}</option>
                    }
                </select>
              </div>
              <div>
                <label for="pokeball">Pokéball actuelle</label>
                <input type="text" id="pokeballActuelle" [value]="selectedShinyForEdit?.pokeball?.nomPokeball || 'Non défini'" disabled>
              </div>
              <div>
                <label for="pokeball">Modifier la pokéball</label>
                <select id="pokeball" [(ngModel)]="selectedShinyForEdit!.pokeball" name="pokeball" required>
                  @for (pokeball of pokeballs; track $index) {
                      <option [ngValue]="pokeball">{{ pokeball.nomPokeball }}</option>
                  }
                </select>
              </div>
              <div>
                <label for="nature">Nature actuelle</label>
                <input type="text" id="natureActuelle" [value]="selectedShinyForEdit?.nature?.nomNature || 'Non défini'" disabled>
              </div>
              <div>
                <label for="nature">Modifier la nature</label>
                <select id="nature" [(ngModel)]="selectedShinyForEdit!.nature" name="nature" required>
                  @for (nature of natures; track $index) {
                      <option [ngValue]="nature">{{ nature.nomNature }}</option>
                  }
                </select>
              </div>
              <div class="attaques-container">
                <div>
                  <label>Attaques actuelles</label>
                  <div>
                    <div class="attaque-item">
                      <input type="text" [value]="selectedShinyForEdit?.attaque1?.nomAttaque" disabled>
                      <select [(ngModel)]="selectedShinyForEdit!.attaque1" name="attaque1">
                        @for (attaqueOption of filterUniqueAttacks(); track $index) {
                          <option [ngValue]="attaqueOption">{{ attaqueOption.nomAttaque }}</option>
                        }
                      </select>
                    </div>
                    <div class="attaque-item">
                      <input type="text" [value]="selectedShinyForEdit?.attaque2?.nomAttaque" disabled>
                      <select [(ngModel)]="selectedShinyForEdit!.attaque2" name="attaque2">
                        @for (attaqueOption of filterUniqueAttacks(); track $index) {
                            <option [ngValue]="attaqueOption">{{ attaqueOption.nomAttaque }}</option>
                        }
                      </select>
                    </div>
                  </div>
                  <div>
                    <div class="attaque-item">
                      <input type="text" [value]="selectedShinyForEdit?.attaque3?.nomAttaque" disabled>
                      <select [(ngModel)]="selectedShinyForEdit!.attaque3" name="attaque3">
                          @for (attaqueOption of filterUniqueAttacks(); track $index) {
                              <option [ngValue]="attaqueOption">{{ attaqueOption.nomAttaque }}</option>
                          }
                      </select>
                    </div>
                    <div class="attaque-item">
                      <input type="text" [value]="selectedShinyForEdit?.attaque4?.nomAttaque" disabled>
                      <select [(ngModel)]="selectedShinyForEdit!.attaque4" name="attaque4">
                          @for (attaqueOption of filterUniqueAttacks(); track $index) {
                              <option [ngValue]="attaqueOption">{{ attaqueOption.nomAttaque }}</option>
                          }
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <label for="boite">Boite actuelle</label>
                  <input type="text" [value]="selectedShinyForEdit?.boite?.nom || 'Non défini'" disabled>
                </div>
                <div>
                  <label>Modifier la boîte</label>
                  <select [(ngModel)]="selectedShinyForEdit!.boite" name="boite" required>
                      @for (boite of boites; track $index) {
                          <option [ngValue]="boite">{{ boite.nom }}</option>
                      }
                  </select>
                </div>
                <div>
                    <label for="position">Position</label>
                    <input type="number" [(ngModel)]="selectedShinyForEdit!.position" name="position">
                </div>
              </div>
              <div>
                  <label for="ivManquant">IV manquants</label>
                  <input type="text" [(ngModel)]="selectedShinyForEdit!.ivManquant" name="ivManquant">
              </div>
              <div>
                <label for="region">Région</label>
                <input type="text" [value]="selectedShinyForEdit?.regionShiny?.nomRegion || 'null'" name="region" disabled>
              </div>
            </div>

            <div style="text-align: center;">
                <button class="button" type="submit">Mettre à jour</button>
                <button class="delBtn" type="button" (click)="closeModal()">Fermer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  }
  <!-- Modal pour supprimer le shiny -->
  @if (isDeleteModalOpen) {
    <div class="modal">
      <div class="modal-content delete-modal">
        <h2 class="title">Voulez-vous réellement supprimer ce Shiny ?</h2>
        <p><strong>{{ selectedShinyForDelete?.nomPokemon }}</strong> sera définitivement supprimé.</p>
        <p class="confirm">Confirmer la suppression ?</p>
        <div style="text-align: center;">
          <button class="button" (click)="confirmDeleteShiny()">Confirmer</button>
          <button class="delBtn" (click)="closeModal()">Annuler</button>
        </div>
      </div>
    </div>
  }
</div>
