<div class="admin-container">
  <h1 class="title">Pokémons par dresseurs - {{ getRegionDresseurName() | uppercase }}</h1>
  <div class="regions-container">
    <h2 class="title2">Régions :</h2>
    <div class="col-12 mb-2">
      <button class="btn btn-dresseurs1" (click)="changeRegionDresseur(1)">1G/6G</button>
      <button class="btn btn-dresseurs2" (click)="changeRegionDresseur(2)">Alola/Galar/Hisui</button>
      <button class="btn btn-dresseurs3" (click)="changeRegionDresseur(3)">Paldea</button>
    </div>
  </div>
  @if (allDresseursList.length > 0) {
    <div>
      <table class="table-wrapper">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="background-color: #008080; color: white;">#</th>
              <th style="background-color: #008080; color: white;">N° Id</th>
              <th style="background-color: #008080; color: white;">Nom du dresseur</th>
              <th style="background-color: #008080; color: white;">Nb Pokémon</th>
              <th style="background-color: #008080; color: white;">Nb Shiny</th>
              <th style="background-color: #008080; color: white;">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (dresseur of dresseursList; track $index) {
              <tr>
                <td style="background-color: #008080; color: white;">
                  {{ (currentPage - 1) * dresseursPerPage + $index + 1 }}
                </td>

                @if (dresseur.nomDresseur === 'Event') {
                  <td [attr.colspan]="2" style="color: #191973;">{{ dresseur.nomDresseur }}</td>
                } @else {
                  <td style="color: #191973;">{{ dresseur.numDresseur }}</td>
                  <td style="color: #191973;">{{ dresseur.nomDresseur }}</td>
                }

                <td style="color: #0f52ba;">{{ dresseur.nbPokemon }}</td>
                <td style="color: #e94152;">{{ dresseur.nbShiny }}</td>
                <td>
                  <button class="update" (click)="openDresseurModal(dresseur)">
                    <i class="fa-solid fa-pen-nib"></i>
                  </button>
                  <button class="delete" (click)="openDeleteModal(dresseur)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </table>
    </div>
  }

  <button class="btn add" (click)="openAddModal()">Ajouter</button>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="pageNumbers.length"
    (pageChange)="goToPage($event)"
  ></app-pagination>

  @if (isAddModalOpen) {
    <div class="modal">
      <div class="modal-overlay">
        <app-dresseurs-form (close)="closeModal()"></app-dresseurs-form>
      </div>
    </div>
  }

  @if (isDresseurModalOpen) {
    <div class="modal">
      <div class="modal-content">
        <h2>Modifier le dresseur</h2>
        <form (ngSubmit)="updateDresseur()" style="display: flex; flex-direction: column; gap: 1rem;">
          <div>
            <label for="numId">N° Id</label>
            <input type="text" id="numId" [(ngModel)]="selectedDresseur!.numDresseur" name="numId" disabled="true">
          </div>
          <div>
            <label for="nomDresseur">Nom du Dresseur</label>
            <input type="text" id="nomDresseur" [(ngModel)]="selectedDresseur!.nomDresseur" name="nomDresseur" disabled="true">
          </div>
          <div>
            <label for="nbPokemon">Nb de Pokémons</label>
            <input
              type="number"
              id="nbPokemonActuel"
              [value]="selectedDresseur?.nbPokemon || 'Non défini'"
              [(ngModel)]="selectedDresseur!.nbPokemon" name="nbPokemon"
              required
            />
          </div>
        <div>
          <label for="nbShiny">Nb de Shiny</label>
          <input
            type="number"
            id="nbShinyActuel"
            [value]="selectedDresseur?.nbShiny || 'Non défini'"
            [(ngModel)]="selectedDresseur!.nbShiny" name="nbShiny"
            required
          />
        </div>
          <div>
            <label for="regionDresseur">Région</label>
            <input type="text" id="regionDresseur" [value]="selectedDresseur?.regionDresseur?.nomRegionDresseur || 'Aucune'" name="regionDresseur" disabled="true">
          </div>
          <div style="text-align: center; margin-top: 1rem;">
            <button class="button" type="submit">Mettre à jour</button>
            <button class="delBtn" type="button" (click)="closeModal()">Fermer</button>
          </div>
        </form>
      </div>
    </div>
  }

  <!-- Modal pour supprimer le shiny -->
  @if (isDeleteModalOpen) {
    <div class="modal">
      <div class="modal-content">
        <h2 class="title">Voulez-vous réellement supprimer ce Dresseur ?</h2>
        <p>Le dresseur <strong>{{ selectedDresseurForDelete?.numDresseur }} {{ selectedDresseurForDelete?.nomDresseur }}</strong> sera définitivement supprimé.</p>
        <p class="confirm">Confirmer la suppression ?</p>
        <div style="text-align: center;">
          <button class="button" (click)="confirmDeleteDresseur()">Confirmer</button>
          <button class="delBtn" (click)="closeModal()">Annuler</button>
        </div>
      </div>
    </div>
  }
</div>
