<div class="container-fluid mt-4">
    <app-region-switcher
        [pokedexList]="pokemons"
        (regionSelected)="onRegionSelected($event)">
    </app-region-switcher>
    <h2 class="mb-4 text-center" style="color: #008080;">POKEDEX KANTO</h2>
  
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-primary">
          <tr>
            <th style="background-color: #008080; color: white;">N°</th>
            <th style="background-color: #008080; color: white;">Pokemon</th>
            <th style="background-color: #008080; color: white;">Nature</th>
            <th style="background-color: #008080; color: white;">N° ID</th>
            <th style="background-color: #008080; color: white;">Nom du dresseur</th>
            <th style="background-color: #008080; color: white;">PokeBall</th>
          </tr>
        </thead>
        <tbody>
            @for (pokemonGroup of groupPokemons(); track $index) {
                <!-- Parcours des Pokémon récupérés -->
                <tr>
                    <td [attr.rowspan]="getRowspanForDex(pokemonGroup)" class="text-center" style="background-color: #008080; color: white; vertical-align: middle;">
                    {{ pokemonGroup[0].numDex }}
                    </td>
                    <td [attr.rowspan]="getRowspanForName(pokemonGroup, pokemonGroup[0])" style="vertical-align: middle;" [ngStyle]="{'color': columnTextColors[0]}">
                    {{ pokemonGroup[0].nomPokemon }}
                    </td>
                    <td [ngStyle]="{'color': columnTextColors[1]}">{{ pokemonGroup[0].nomNature.nomNature }}</td>
                    <td [ngStyle]="{'color': columnTextColors[2]}">{{ pokemonGroup[0].dresseur.numDresseur }}</td>
                    <td [ngStyle]="{'color': columnTextColors[2]}">{{ pokemonGroup[0].dresseur.nomDresseur }}</td>
                    <td [ngStyle]="{'color': columnTextColors[3]}">{{ pokemonGroup[0].nomPokeball.nomPokeball }}</td>
                </tr>               @for (pokemon of pokemonGroup.slice(1); track $index) {
                    <tr>
                        @if (pokemon.nomPokemon !== pokemonGroup[0].nomPokemon) {
                            <td style="text-align: center;" [ngStyle]="{'color': columnTextColors[0]}">
                                {{ pokemon.nomPokemon }}
                            </td>
                        }
                        <td [ngStyle]="{'color': columnTextColors[1]}">{{ pokemonGroup[0].nomNature }}</td>
                        <td [ngStyle]="{'color': columnTextColors[2]}">{{ pokemonGroup[0].dresseur }}</td>
                        <td [ngStyle]="{'color': columnTextColors[2]}">{{ pokemonGroup[0].dresseur }}</td>
                        <td [ngStyle]="{'color': columnTextColors[3]}">{{ pokemonGroup[0].nomPokeball }}</td>
                    </tr>
                }
            }
        </tbody>
      </table>
    </div>
</div>
  